{:paths []
 :deps {poly/{{main}}-base {:local/root "../../bases/{{main}}"}
        poly/database {:local/root "../../components/database"}}
 :aliases {:run {:main-opts ["-m" "{{top/ns}}.{{main/ns}}.core"]}

           :test {:extra-paths ["../../bases/{{main}}/test"
                                "../../components/database/test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
           :test-runner {:main-opts ["-m" "kaocha.runner"]}}}
