{:description "A Zodiac web application."
 :data-fn zodiac.app/data-fn
 :template-fn zodiac.app/template-fn

 ;; Default zodiac library versions — override on the command line if needed
 :zodiac-version "0.9.98"
 :zodiac-assets-version "0.6.48"
 :zodiac-headers-version "0.1.2"
 :zodiac-hot-reload-version "0.1.2"
 :zodiac-sql-version "0.2.22"

 ;; Default options
 :db :sqlite
 :structure :flat

 ;; The :transform is set dynamically by template-fn based on :structure
 :transform []}
